<h1><%= @actors.first["actor"] %></h1>

<ul>
  <% @actors.each do |detail| %>
  <li>
    <a href="/movies/<%= detail["id"] %>"><%= detail["title"] %></a>: <%= detail["character"] %>
  </li>
  <% end %>
</ul>
